<%= content_for :title, "Welcome" %>

<h1>Atwitter</h1>
<div class='container'>
  <h3>Look who's atwitter...</h3>
  <ul>
    <% @users.each do |user| %>
      <li><%= link_to user.handle, user_path(user) %></li>
    <% end %>
  </ul>
</div>

